<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{page.title}"></title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>

<!-- Header with Image -->
<header>
    <img th:class="'logo'" src="/logo.png" alt="Logo Image">
</header>

<!-- Main Content -->
<section>
    <h2 th:text="#{page.subtitle}">Learn Spring Boot like in real-live projects.</h2>

    <div th:if="${showDetails}">
        <div th:replace="~{fragments/details.html :: content('en')}"/>
    </div>

    <a href="https://sergiolema.dev/the-spring-boot-academy" target="_blank">More details</a>

    <img th:class="'cover'" src="/image.jpg" alt="Academy">
</section>

<!-- Footer with Light Text -->
<footer>
    <p th:class="'light-text'">Sergio Lema</p>
</footer>

</body>
</html>
